.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div.ui.container div.ui.segment h2.ui.header {
    font-size: 1.5rem;
    text-align: center;
}

div.ui.container h1.ui.header#results-header {
    margin-bottom: 3rem;
}

div.ui.centered.card div.content div.description {
    text-align: center;
}


div.ui.centered.card div.content div.label-container {
    display: flex;
    justify-content: center;
}


div.ui.centered.card div.content div.label-container div.ui.blue.label {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

div.ui.container {
    margin-top: 3.5rem;
}

div#buttons-container {
    display: flex;
    justify-content: flex-end;
}

div.ui.container h1 {
    text-align: center
}

div.ui.container#nav-container {
    margin-top: 0;
}

div.ui.container div.ui.secondary.pointing.menu {
    margin-top: 1.25rem;
}

/* Nav menu - Logout button margin left*/
div.user-info button.ui.tiny.button {
    margin-left: 1rem;
}

div.user-info button.ui.tiny.button:hover {
    color: white;
    background-color: #55ce15;
}

div.user-info span {
    color: #b85d0e;
    font-weight: bold;
    margin-left: 0.25rem;
}

div.right.menu select.ui.selection.dropdown {
    padding: 0 1rem;
}

div.middle.aligned.item div.extra .ui.right.floated.button:hover {
    color: white;
    background-color: #1678C2;
}


div.middle.aligned.item div.content h4.ui.header {
    text-transform: uppercase;
    font-weight: 500;
}

div.middle.aligned.item div.content h2.ui.header {
    margin-top: .25rem;
    font-size: 1.5rem;
}

div.ui.centered.card div.content img.ui.avatar {
    margin-right: .5rem;
}

div.ui.centered.card div.content#avatar {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
}

div.ui.centered.card div.content h2 {
    font-size: 1.5rem;
    text-align: center;
}

div.ui.centered.card div.content div.description div.grouped.fields div.field {
    text-align: left;
}