.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}